/*Clearfix*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*General Style*/

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    color: #333333;
    font-family: 'Oswald', sans-serif;
    line-height: 1.6em;
    padding-top: 1em;
    font-size: .95em;
}

.container {
    max-width: 800px;
    margin: auto;
}


/*Layout*/

.textright {
    text-align: right;
}

.left {
    float: left;
}

.onethird {
    width: calc(100%/3);
    padding: 1.5em;
}

.twothirds {
    width: 66%;
    font-size: 0.95em;
    padding: 2em;
}


/*Text & Links*/

h1 {
    padding-top: 0em;
    margin-top: 0em;
    color: #3d38db;
}

a {
    color: #c52470;
}

a:hover {
    color: #ec5311;
}

a.u-email {
    color: #c52470;
}

a.u-email:hover {
    color: #ec5311;
}

.contact {
    padding: .3em;
    text-align: center;
}


/*Images*/

img {
    max-width: 100%;
}

img.me {
    padding-top: 8em;
}


/*Navigation*/

.mobile,
.menu {
    display: none;
}

.logo {
    position: absolute;
    height: 3em;
    padding-top: 1em;
    padding-right: 5em;
}

hr.style1 {
    border-top: 1px solid black;
    width: 700px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
}

nav ul a {
    color: #c52470;
    text-decoration: none;
    transition: all .1s ease;
}

nav ul a:hover {
    color: #ec5311;
}

nav ul li {
    display: flex;
    flex: 1 1 auto;
    color: #c52470;
}


/* Social Media */

.divider {
    font-color: #c52470;
    width: 30px;
    border-radius: 5px;
    height: auto;
    display: inline-block;
}

.divider:hover {
    color: #ec5311;
}


/*Responsive Design*/


/*Navigation*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    nav {
        display: none;
    }
    .mobile {
        display: block;
    }

    hr {
    	display: none;
    }
    body {
        margin: 0;
        width: 100%;
        height: 100vh;
    }
    header {
        width: 100%;
        background: #3d38db;
        height: 40px;
        line-height: 60px;
    }
    .hamburger {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 45px;
        padding: 12px 15px 0px 15px;
        color: #fff;
        border: 0;
        font-size: 1.9em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    .cross {
        background: none;
        position: absolute;
        top: 0px;
        right: 0;
        padding: 13px 18px 0px 15px;
        color: #fff;
        border: 0;
        font-size: 3.5em;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    .menu {
        z-index: 1000000;
        font-weight: bold;
        font-size: 0.8em;
        width: 100%;
        background: white;
        position: absolute;
        text-align: center;
    }
    .menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }
    .menu li {
        display: block;
        padding: 15px 0 15px 0;
        border-bottom: #3d38db 1px solid;
    }
    .menu li:hover {
        display: block;
        background: #181818;
        padding: 15px 0 15px 0;
        border-bottom: #3d38db 1px solid;
    }
    .menu ul li a {
        text-decoration: none;
        margin: 0px;
        color: #c52470;
    }
    .menu ul li a:hover {
        color: #ec5311;
        text-decoration: none;
    }
    .menu a {
        text-decoration: none;
        color: white;
    }
    .menu a:hover {
        text-decoration: none;
        color: white;
    }
}


/*Layout*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .onethird,
    .twothirds {
        width: 100%;
        text-align: center;
        padding-bottom: 0em;
    }
    img.me {
        padding-top: 1em;
        padding-bottom: none;
    }
    .logo {
        float: left;
        padding: 0;
        margin: 0;
        border: 0;
    }
}
