body {
    padding: 0;
    margin: 0;
    font: 1em/1.4 Cambria, Georgia, sans-serif;
    color: #333;
    background: #fff;
}

#container {
    max-width: 500px;
    padding: 0 0 50px;
    margin: 0 auto;
}

h1 {
    margin: 1.2em 0 0;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    font-color: black padding-bottom: 1em;
}

h4 {
    text-align: center;
    padding-bottom: 1em;
    margin-top: 0;
}

h5 {
	padding: 0;
	margin: 0;
	margin-bottom: .5em;
	text-align: center;
}

/*Clearfix*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*Speech Bubble*/

.bubble {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #2F4F4F;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubble:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #2F4F4F transparent;
    display: block;
    width: 0;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.bubbley {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #2F4F4F;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubbley:before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #2F4F4F transparent;
    display: block;
    width: 0;
}

.bubbley:after {
    content: "";
    position: absolute;
    bottom: -13px;
    right: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    #container {
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    #container {
        width: 80%;
        text-align: center;
    }

@media screen and (max-width: 360px) {
    #container {
        max-width: 90%;
        text-align: center;
    }
}
